.SignInForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.SignInForm img {
  margin: 10px;
}

.SignInForm h2 {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 20px;
}

.version-text {
  padding: 10px;
  float: right;
}
.signIn-form-button {
  width: 100%;
  margin-bottom: 5px;
}

/* override antd css*/
.SignInForm .ant-form {
  width: 500px;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 20px 20px;
  border-radius: 6px;
  box-sizing: border-box;
}
.login-form-forgot {
  float: right;
}
